body {
    background-color: hsla(194, 90%, 70%, 0.5);
    font-family: 'Raleway', sans-serif;
  }


banner {
    background-image: url("recourses/images/banner.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 300px;
    width: 100%;
}

banner h1 {
    border: 3px solid white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
}

main {
    margin: 0 auto;
    text-align: center;
    overflow: scroll;
}

.author {
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    font-size: 14px;
    font-weight: 200;
}

footer a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}