body {
    background-color: hsla(194, 90%, 70%, 0.5)
    font-family: 'Raleway', sans-serif;
  }

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
  }

nav li .logo {
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}

banner {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
  }